@font-face {
  font-family: "Product Sans";
  src: url("Font/Product Sans Regular.ttf");
}

/* devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  img.gbr1 {
    /* display: none; */
    width: 350px;
  }
}

*,
body {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
}
.contain {
  border-radius: 24px !important;
  width: 360px;
  display: flex;
  margin: 0 auto;
  min-height: 640px;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}
.content a {
  color: #7d7e7f;
  font-size: 14px;
}
.content a:hover {
  color: #000000;
}
.wrapper img {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  min-width: 50px;
  margin-bottom: 217px;
}
.content h2 {
  color: #f3001f;
  font-size: 24px;
  margin-bottom: 15px;
}
.content h5 {
  color: #7d7e7f;
  font-size: 14px;
  text-align: center;
  margin-bottom: 55px;
}
.content p {
  font-size: 10px;
}
.content button {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  background-color: #e4e5ea;
  text-align: center;
  color: #747d8c;
  font-size: 14px;
  padding: 8px 40%;
  border-radius: 4px;
  margin-bottom: 40px;
}
.content button:hover {
  background-color: #ec2028;
  color: #ffffff;
}
.wrapper {
  width: 100%;
}
/* .carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card {
  color: #fff;
  text-align: center;
  margin: 20px 0;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
  background: #0072bc !important;
} */
