@font-face {
  font-family: "Product Sans";
  src: url("Font/Product Sans Regular.ttf");
}
*,
body {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
}
.contain {
  border-radius: 24px !important;
  width: 480px;
  display: flex;
  margin: 0 auto;
  min-height: 854px;
}
.isi {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}
.isi a {
  color: #7d7e7f;
  font-size: 14pt;
  margin: 20px 0px 20px 10px;
}
.isi a:hover {
  color: #000000;
}
.isi img {
  margin-bottom: 200px;
  width: 100%;
}
.isi h2 {
  color: #f3001f;
  font-size: 24pt;
  margin-bottom: 15px;
}
.isi h5 {
  color: #7d7e7f;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 55px;
}
.isi button {
  background-color: #e4e5ea;
  text-align: center;
  color: #747d8c;
  font-size: 14pt;
  padding: 15px 40%;
  border-radius: 4px;
  margin-bottom: 40px;
}
